@import "./../../assets/styles/global.scss";

h2 {
  color: #2788da;
  text-shadow: 1px 1px white;
}

.header {
  @include flexbox(column, space-between, center);
  position: relative;
  z-index: 1;
  padding: 1rem;
  &-img {
    min-width: 18.75rem;
    max-width: 50%;
    padding-top: 10px;
  }
  &-text {
    text-align: center;
  }
}
