@import "./../../assets/styles/global.scss";
/* styles.css */
.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.card-link {
  text-decoration: none;
  color: inherit;
}
