@import "./../../assets/styles/global.scss";
.cards-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.card {
  border-radius: 1rem;
  text-align: center;
  color: white;
  width: 8rem;
  padding: 2rem;
  background-color: $stark-trek-light-blue; /* Default color in case no color is applied */
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.star-trek-blue {
  background-color: $star-trek-blue;
}

.star-trek-lemon {
  background-color: $star-trek-lemon;
}

.star-trek-red {
  background-color: $star-trek-red;
}

.star-trek-orange {
  background-color: $star-trek-orange;
}
