@import "./../../assets/styles/global.scss";

.lcars {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LCARS Panel Styles */
.lcars-panel {
  width: 95%;
  margin: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &--top,
  &--bottom {
    background: #ffcc66;
    height: 2.5rem;
    padding: 0.625rem;
  }
  &--top {
    border-radius: 2.5rem 2.5rem 0 0;
  }
  &--bottom {
    border-radius: 0 0 2.5rem 2.5rem;
  }
  &__title {
    color: $black;
  }
}

.lcars-panel--side {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffcc66;
  width: 180px;
}

.lcars-panel--main {
  background-size: inherit;
  width: 650px;
  height: 290px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 10px;
}

.lcars-panel__title {
  color: #ffff99;
  font-size: 20px;
}

.lcars-panel__time {
  color: yellow;
  margin-bottom: 10px;
}

.lcars-panel__blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

/* Button styles for side panel */
.lcars-panel__button {
  color: black;
  font-weight: bold;
  padding: 10px;
  border-top: 3px solid black;
  cursor: pointer;
}

.lcars-panel__button--bridge {
  background-color: #ccddff;
}

.lcars-panel__button--engineering {
  background-color: #ff9966;
}

.lcars-panel__button--transporter {
  background-color: #bb6622;
}

.lcars-panel__button--holodeck {
  background-color: #ffff99;
}

.lcars-panel__button--time {
  background-color: #ffcc66;
  margin-top: 50px;
}

.lcars-panel__button:hover {
  opacity: 0.8;
}
