@import "./../../assets/styles/global.scss";
.result {
  &-content {
    height: 100%;
    background-image: url("/holodeck.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: center;
    height: 60rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  &-display {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  &-stats {
    width: 20rem;
    height: 20rem;
  }
  &-character {
    &-image {
      box-sizing: border-box;
      height: 40rem;
      max-width: 25rem;
      padding: 4rem;
      border-radius: 40rem;
    }
  }
}
