.result {
  //   display: flex;
  //   justify-content: center;
  &-content {
    height: 100%;
    background-image: url("./../../../public/holodeck.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: center;
    height: 60rem;
  }
}
