// primary color

$star-trek-lemon: #c1c730;
$star-trek-red: #a71313;
$star-trek-blue: #2b53a7;
$star-trek-orange: #d6a444;
$star-trek-light-blue: #268adc;
//secondary color
$lcars-purple: #78f;

$black: #000000;
$white: white;

$color-palette: (
  $star-trek-lemon,
  $star-trek-red,
  $star-trek-blue,
  $star-trek-orange
);
